<div class="ui segment" style="background:#f7f7f7">
    {% if modulo_domanda_bando.disabilita %}
    <form method='post' class="ui form error">
        <div class="ui error message">
            <div class="header">Attenzione</div>
            <p>L'inserimento è attualmente disabilitato con questa motivazione:<br>
            <i>{{ modulo_domanda_bando.motivazione }}</i></p>
        </div>
        <div class="field">
            <button class="ui positive button" name="disabilita_abilita_inserimento" type="submit" value=1>
                <i class="check icon"></i>
                Abilita inserimento
            </button>
        </div>
    {% else %}
    <form method='post' class="ui form info">
        <div class="field">
            {{ form_motivazione.motivazione.errors }}
            <label for="{{ form_motivazione.motivazione.if_for_label }}">{{ form_motivazione.motivazione.label }}</label>
            {{ form_motivazione.motivazione }}        
            <div class="ui info message">
                <div class="header">Attenzione</div>
                <p>Il testo inserito in questo campo sarà reso visibile al
                dipendente dopo la chiusura del Bando e motiverà eventuali
                revisioni sul calcolo e l'assegnazione del punteggio</p>
            </div>
        </div>
        <div class="field">
            {{ form_motivazione.punteggio_manuale.errors }}   
            <label for="{{ form_motivazione.punteggio_manuale.if_for_label }}">Punteggio manuale:</label>
            {{ form_motivazione.punteggio_manuale }}           
        </div>
        <div class="field">
            <button class="ui negative button" name="disabilita_abilita_inserimento" type="submit" value=1>
                <i class="ban icon"></i>
                Disabilita inserimento
            </button>

            <button class="ui primary button" name="modifica_punteggio" type="submit" value=1>              
                Modifica punteggio
            </button>
        </div>
    {% endif %}
        <input type="hidden" id="disable_input" name="disable_input" value="{{ disable_input }}">
        {% csrf_token %}
    </form>
</div>
